h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.container{
    width: 1080px;
    margin: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.item {
    font-size: 16px;
    line-height: 1;
    text-align: center;
    padding: 35px;
    margin: 2px;
}

.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 35px;
    margin: 0px 125px;
}

.card{
    background: #cccccc;
    border-radius: 10px;
}

.text-color-blue{
    color : #0800ff;
}
.text-color-red{
    color : red;
}

.btn{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    width: 80px;
}

.link-logo{
    padding: 0px 35px;
}

.icon-cart{
    font-size: 30px!important;
}

.icon-delete, .icon-addcart{
    font-size: 18px !important;
}

.main-nav {
    margin-top: 5px;

}

.main-nav a {
    padding: 0px 35px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.header {
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0px 125px;
}

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
    }
    .header {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}
.text-center{
    text-align: center;
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

